{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "Roxanne7UserBundle::layout.html.twig" %}

{% block title %}
  Profile - {{ parent() }}
{% endblock %}

{% block Roxanne7User_body %}

{% if user is not defined or user is null %}
    <h2> Le user n'existe pas ! </h2>
    {% else %}
    <h2> Profile de : {{ user.username }} </h2>
{% endif %}



  



{% endblock %}