<footer>
	<div class="row top">
	    <div class="col-md-10">
	        <h3>Vinnity ?</h3>  
	        <h4>The best way for your Virtual coMMUNITY !</h4>
	        
	    </div>
	</div>
	<div class="row bottom">
	  <div class="col-md-offset-10 col-md-2">© RoxanneWeb {{ 'now'|date('Y') }}</div>
	</div>
</footer>