<header>
<nav class="header navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <div clas="logogroup">
                    <img src="{{ asset('bundles/roxanne7vinnity/images/s_logo.png') }}" alt="Image" id="logo" class="logo "/>
                    <a class="navbar-brand" href="/">innity <span class="badge">Alpha 0.1</span></a>
            </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="menusmall collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><a href="index.php"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
       <li><a href="/index.php?archive=1"><span class="glyphicon glyphicon-trash "></span> Archives</a></li>     
     </ul> 
	  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>



